<div style="background-color: #003566;"
     class="w-100 rounded-3 d-flex align-items-center justify-content-between">


  <!-- Solo user -->
  @if (userRole() === 'USER') {
    <ng-container>
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="dashboard">
        <i class="text-white bi fs-3 bi-house"></i>
      </a>
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="corsi">
        <i class="text-white fs-3 bi bi-book"></i>
      </a>
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="i-miei-corsi">
        <i class="text-white fs-3 bi bi-book-half"></i>
      </a>
      <!-- ✅ NUOVE VOCI DI MENU -->
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
        routerLink="affiliazioni">
        <i class="text-white fs-3 bi bi-share"></i>
      </a>
       
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
        routerLink="corsi-completati">
        <i class="text-white fs-3 bi bi-book-fill"></i>
      </a>
    </ng-container>
  } @else if (userRole() === 'ADMIN') {

    <!-- Solo admin -->
    <ng-container>
       <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="admin">
        <i class="text-white fs-3 bi bi-house"></i>
      </a>
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="corsi">
        <i class="text-white fs-3 bi bi-book"></i>
      </a>
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="utenti">
        <i class="text-white fs-3 bi bi-people"></i>
      </a>
      <a class="w-100 px-4 text-center py-2 text-decoration-none fs-6"
         routerLink="affiliazioni">
        <i class="text-white fs-3 bi bi-share"></i>
      </a>
    </ng-container>
  }

</div>
